@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@layer theme {
  :root{
    --primary: theme(colors.emerald.500);
    --secondary: theme(colors.neutral.800);
  }
}

@theme inline{
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

}

@layer base{
  :root{
    --primary: theme(colors.emerald.500);
    --secondary: theme(colors.neutral.800);
  }

  body {
    font-family: Arial, Helvetica, sans-serif;

    @apply
      text-sm
      text-neutral-800 
      bg-linear-to-br 
      from-stone-100 to-emerald-600/50
      dark:from-emerald-950 dark:to-black
  }
  .main-div{
    @apply
    flex flex-col items-center
  }

  /* Page */
  .page-title {
    @apply inline-flex rounded-xl px-3 py-1.5 text-2xl font-medium mb-4 
      text-secondary dark:text-white
  }

  /* Nav */
  .nav-items-list{
    @apply inline-flex gap-1 p-1 rounded-full bg-white/70 dark:bg-white/10
  }

  .nav-button-active{
    @apply
      text-white dark:text-secondary
      bg-secondary dark:bg-white
      
  }
  .nav-button-inactive{
    @apply
      text-secondary dark:text-white
  }
  .nav-button-inactive:hover{
    @apply
      bg-secondary/10 dark:bg-white/10
  }

  .theme-toggle {
    @apply
      flex items-center justify-center
      h-full
      aspect-square
      rounded-full
      text-white dark:text-secondary
      bg-secondary dark:bg-white;
  }
}

@import "./buttons.css";
@import "./cards.css";
